# Environment Configuration
ENVIRONMENT=production
APP_URL=https://app.casjoe.com

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=smtp.stackmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@casjoe.com
MAIL_FROM_NAME="Casjoe LLC"
